body {
    display: block;
    margin: 0px;
}
.Container{
    margin-top: 0%;
    margin-bottom:0% ;
    margin-left: 36%;
    margin-right: 36%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #fcfcfc;
}

.block1{
    margin: 0% 10% 3% 10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #511f50;
  }
  
  .black2 {
    margin: 5%;
    padding: 10px;
    text-align: center;
    font-family: serif;
    font-size: 1.5rem;
    color: grey;
  }
  
  .block3 {
      border-radius:1px 1px 15px 15px;
      margin: 7% 5%;
      padding-top: 2%;
      text-align: center;
      font-size: 1.0rem;
      font-weight: bold;
      width: 90%;
      height: 3.0rem;
      background-color: #eee9f1;
  }
   
  .block4 {
      border-radius:15px;
      margin:2% 5% 0% 5%;
      text-align: center;
      font-size: 2.0rem;
      width: 90%;
      height: auto;
      color: #ffffff;
      background-color: #511f50;
  }
  
  .row {     
       display: flex; 
       padding:5% 10% 0% 10%;
    }
  
    .circular{
      border-radius: 50%;
    }
  
    .name{
      padding-left: 20px;
      margin-top: 10px;
      font-style: normal;
      font-weight:bold;
      font-size: 20px;
    }
    
    .info{
      padding: 3px 20px 3px 20px;
      font-style: italic;
      font-size: 15px;
      color: #af5a96;
    }